.checkout-items table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.checkout-items table, .checkout-items th, .checkout-items td {
    border: 1px solid #ddd;
}

.checkout-items th, .checkout-items td {
    padding: 8px;
    text-align: center;
}

.checkout-items th {
    background-color: #f2f2f2;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input {
    padding: 8px;
    margin-top: 5px;
}

.checkout-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.checkout-button:hover {
    background-color: #45a049;
}